:root {
  --main-font: Ubuntu, Arial, sans-serif;
  --color-primary: #116ACC;
  --color-secondary_1: #182233;
  --color-secondary_2: #B3CEE2;
  --color-secondary_3: #D9DDE7;
  --color-secondary_4: #FD4E5D;
  --color-black: #000000;
  --color-grey_1: #1F2937;
  --color-grey_2: #374151;
  --color-grey_3: #4B5563;
  --color-grey_4: #6B7280;
  --color-grey_5: #9CA3AF;
  --color-grey_6: #D1D5DB;
  --color-grey_7: #F3F4F6;
  --color-white: #ffffff;
  --color-error: #BA0000;
  --color-success: #76CA66;
  --color-info: #A0C3FF;
  --color-warning: #FBC756;
}
